################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DiamondKara.Tests/obj
/DiamondKata/obj
/DiamondKara.Tests/bin/Debug/net6.0
/DiamondKata/bin/Debug/net6.0
